//maps
$scheme: (darkprimary: #303f9f, accent: #cddc39, light-primary: #c5cae9, primary: #3F51B5, secondarytext: #757575, primarytext: #212121)

$browncolors: (bg50: #efebe9, bg100: #d7ccc8, bg200: #bcaaa4, bg300: #a1887f, bg400: #8d6e63, bg500: #795548, bg600: #6d4c41, bg700: #5d4037, bg800:#4e342e, bg900: #3e2723)

$purple: (Dark-p-c: #512DA8, light-p-c: #D1C4E9, prime-color: #673AB7, icons: #FFFFFF, accnt: #795548, prime-text: #212121, second-text: #757575, divider: #BDBDBD)

$tea: (dark: #202B36, purple: #353369, header: #211E9C, darktan: #423D38, text: #694633)
//input sizes
$map1: (small: 10%, med: 30%, med-lg: 50%, large: 75%, full: 100%)

$purpleColor: (darkprimary: #311b92, accent: #bbdefb, light-primary: #b388ff, primary: #673ab7, secondarytext: #f3e5f5, primarytext: #212121)
//material design dark colors
$dark: (md-red: #b71c1c, md-pink: #880e4f, md-purple: #4a148c, md-indigo: #1a237e, md-blue: #0d47a1, md-cyan: #006064, md-green: #1b5e20, md-orange: #e65100)

