@charset "UTF-8"
ul,
li
  list-style-type: none
  margin-left: 0
  padding-left: .5em

li
  color: map-get($scheme, "primarytext")
  margin: 1em 0
  font-family: $font-stack-monaco
  font-weight: 500
  border-bottom: 1px solid map-get($browncolors, "bg400")




