/* attempts at a different style */
// body > p 	Select p tags that are only immediate children (can't be nested)
// h1 + p 	Select the p sibling immediately following the h1 tag
// h1 ~ pre 	Find all pre that follow the h1 tag


.card-container
  display: flex
  background: map-get($theme, "extra")

  &--skeleton
    margin: 2rem
    border-style: solid
    border-width: 2px
    background: map-get($theme, "secondary")
    flex: 1
    box-shadow: 0 10px 10px 0 $base-light, 10px 0 10px 0 $base3-normal
    > .skeleton--content
      color: $md-blue-900
      margin: 1em
    > h3.skeleton--head
      color: $md-teal-900
      +center(center, center)



