img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
}


option {
  background-color: inherit;
}

//* button stuff

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: visible;
  border: 0;
  outline: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  vertical-align: top;
}
